extends layout

block content
  h1 #{title} #{bookinstance.imprint}
  p #{bookinstance.status} -- #{bookinstance.due_back_yyyy_mm_dd}
  
  p #[em Do you really want to delete this bookinstance ?]

  form(method='POST')
    div.form-group
      input#bookinstanceid.form-control(type='hidden', name='bookinstanceId', value=bookinstance._id)
    button.btn.btn-danger(type='submit') Delete
    button.btn.mx-2.btn-light(href='/catalog/bookinstances') Cancel
